@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html, body {
  font-family: "Roboto", Arial, sans-serif;
}

#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

h1, h2, h3, h4 {
  background-color: #4F3674;
  color: #FFFFFF;
  border: 1px solid #D6A800;
  padding: 10px;
}

a {
  color: #4F3674;
  text-decoration: none;
}

a:hover {
  color: #D6A800;
}

a:visited {
  color: #6B4A8D;
}
